<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ekilibrate.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ekilibrate.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Ekilibrate</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>sacow26@hotmail.com</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EkilibrateUI.Areas.SitioAdministrativo.Models.Data.EkiibrateDBEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="EkilibrateUI.Areas.SitioAdministrativo.Models.Data.EkiibrateDBEntities, EkilibrateUI" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="BarcoSoftUtilidades.Data.BarcoSoftUtilidadesDB" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BarcoSoftUtilidades.Data.BarcoSoftUtilidadesDB, BarcoSoftUtilidades" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="EkilibrateEF" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=ggnsflmtjo.database.windows.net;Initial Catalog=Ekilibrate;Integrated Security=False;User ID=Ekilibrate;Password=Eki@2015;Encrypt=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EkilibrateEF_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata={0};provider=System.Data.SqlClient;provider connection string=&quot;data source=ggnsflmtjo.database.windows.net;initial catalog=Ekilibrate;user id=Ekilibrate;password=Eki@2015;Trusted_Connection=False;Encrypt=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;AttachDbFilename=|DataDirectory|\aspnet-EkilibrateUI-20150913033529.mdf;Initial Catalog=aspnet-EkilibrateUI-20150913033529;Integrated Security=True;User Instance=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.;AttachDbFilename=|DataDirectory|\aspnet-EkilibrateUI-20150913033529.mdf;Initial Catalog=aspnet-EkilibrateUI-20150913033529;Integrated Security=True;User Instance=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BarcoSoftUtilidades.Data.BarcoSoftUtilidadesDB-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EkilibrateUI.Areas.SitioAdministrativo.Models.Data.EkiibrateDBEntities-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="BarcoSoftUtilidades.Data.BarcoSoftUtilidadesDB" />
    <_ConnectionStringsToInsert Include="EkilibrateUI.Areas.SitioAdministrativo.Models.Data.EkiibrateDBEntities" />
  </ItemGroup>
</Project>