<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />    
  </system.web>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="sdt"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "SdrConfigExample.e2e" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <connectionStrings>
    <clear />
    <!--<add name="SqlServerPool" connectionString="Server=ACER;Initial Catalog=EkiibrateDB;User ID=sis;Password=sistema@123;Connection Timeout=30;" />-->
    <add name="SqlServerPool" connectionString="Server=dolcegusto.database.windows.net;Initial Catalog=Ekilibrate;User ID=dolce;Password=d0lc3@502;Connection Timeout=60;Trusted_Connection=False;Encrypt=True;" />
    <!--<add name="SqlServerPool" connectionString="Server=.\SQLExpress;Initial Catalog=EkiibrateDB;User ID=sis;Password=sistema@123;Connection Timeout=30;" />-->
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WCFDefault">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentSessions="1000" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Ekilibrate.Services.Administrador.clsDataRetriever" behaviorConfiguration="WCFDefault">
        <clear />
        <endpoint address="" binding="wsHttpBinding" contract="Ekilibrate.Model.Services.Administrador.IDataRetriever" bindingConfiguration="HTTPBinding">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <!--<endpoint address="" binding="netTcpBinding" contract="Ekilibrate.Model.Services.Administrador.IDataRetriever" bindingConfiguration="TCPBinding">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>-->
      </service>
      <service name="Ekilibrate.Services.Administrador.clsDataInjector" behaviorConfiguration="WCFDefault">
        <clear />
        <endpoint address="" binding="wsHttpBinding" contract="Ekilibrate.Model.Services.Administrador.IDataInjector" bindingConfiguration="HTTPBinding">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <!--<endpoint address="" binding="netTcpBinding" contract="Ekilibrate.Model.Services.Administrador.IDataInjector" bindingConfiguration="TCPBinding">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>-->
      </service>
      <service name="Ekilibrate.Services.Cliente.clsDataRetriever" behaviorConfiguration="WCFDefault">
        <clear />
        <endpoint address="" binding="wsHttpBinding" contract="Ekilibrate.Model.Services.Cliente.IDataRetriever" bindingConfiguration="HTTPBinding">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <!--<endpoint address="" binding="netTcpBinding" contract="Ekilibrate.Model.Services.Cliente.IDataRetriever" bindingConfiguration="TCPBinding">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>-->
      </service>
      <service name="Ekilibrate.Services.Cliente.clsDataInjector" behaviorConfiguration="WCFDefault">
        <clear />
        <endpoint address="" binding="wsHttpBinding" contract="Ekilibrate.Model.Services.Cliente.IDataInjector" bindingConfiguration="HTTPBinding">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <!--<endpoint address="" binding="netTcpBinding" contract="Ekilibrate.Model.Services.Cliente.IDataInjector" bindingConfiguration="TCPBinding">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>-->
      </service>
      <service name="Ekilibrate.Services.Participante.clsDataRetriever" behaviorConfiguration="WCFDefault">
        <clear />
        <endpoint address="" binding="wsHttpBinding" contract="Ekilibrate.Model.Services.Participante.IDataRetriever" bindingConfiguration="HTTPBinding">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <!--<endpoint address="" binding="netTcpBinding" contract="Ekilibrate.Model.Services.Participante.IDataRetriever" bindingConfiguration="TCPBinding">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>-->
      </service>
      <service name="Ekilibrate.Services.Participante.clsDataInjector" behaviorConfiguration="WCFDefault">
        <clear />
        <endpoint address="" binding="wsHttpBinding" contract="Ekilibrate.Model.Services.Participante.IDataInjector" bindingConfiguration="HTTPBinding">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <!--<endpoint address="" binding="netTcpBinding" contract="Ekilibrate.Model.Services.Participante.IDataInjector" bindingConfiguration="TCPBinding">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>-->
      </service>
      <service name="Ekilibrate.Services.Nutricionista.clsDataRetriever" behaviorConfiguration="WCFDefault">
        <clear />
        <endpoint address="" binding="wsHttpBinding" contract="Ekilibrate.Model.Services.Nutricionista.IDataRetriever" bindingConfiguration="HTTPBinding">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <!--<endpoint address="" binding="netTcpBinding" contract="Ekilibrate.Model.Services.Nutricionista.IDataRetriever" bindingConfiguration="TCPBinding">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>-->
      </service>
      <service name="Ekilibrate.Services.Nutricionista.clsDataInjector" behaviorConfiguration="WCFDefault">
        <clear />
        <endpoint address="" binding="wsHttpBinding" contract="Ekilibrate.Model.Services.Nutricionista.IDataInjector" bindingConfiguration="HTTPBinding">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <!--<endpoint address="" binding="netTcpBinding" contract="Ekilibrate.Model.Services.Nutricionista.IDataInjector" bindingConfiguration="TCPBinding">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>-->
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="HTTPBinding" closeTimeout="00:01:00" maxReceivedMessageSize="2147483647">
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="false" establishSecurityContext="true" />
          </security>
        </binding>
      </wsHttpBinding>
      <!--<netTcpBinding>
        <binding name="TCPBinding" portSharingEnabled="true" hostNameComparisonMode="WeakWildcard" transferMode="Buffered">
          <security mode="None"></security>
        </binding>
      </netTcpBinding>-->
    </bindings>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
