@using Kendo.Mvc.UI
@using System.Web.Mvc
@*@model Ekilibrate.Model.Entity.Participante.clsLiderazgoBase*@

@{
    ViewBag.Title = "Final";
    ViewBag.Description = "Final del Cuestionario";
    Layout = "~/Views/Shared/_Default.cshtml";
}

<div style="background-image:url(../assets/img/final-wide2.jpg); background-size:cover; background-repeat:no-repeat; width:100%;">
    <div class="row">
        <div class="col-lg-5" style="align-content:center; text-align:center; margin-top: 31%;">
            
        </div>
        <div class="col-lg-2" style="align-content:center; text-align:center; margin-top: 31%;">
            <a href="http://www.ekilibrate.com">
                <img src="~/assets/img/b1.png" alt="Quiero realizar mi diagnóstico de estilo de vida ahora" />
            </a>
        </div>
        <div class="col-lg-2" style="align-content:center; text-align:center; margin-top: 31%;">
            @*<a href="../Participante/Expediente">*@
                <img src="~/assets/img/b2.png" alt="Quiero ver mi expediente" style="opacity: 0.4; filter: alpha(opacity=40);" />
            @*</a>*@
        </div>
        <div class="col-lg-2" style="align-content:center; text-align:center; margin-top: 31%;">
            <a href="javascript:document.getElementById('logoutForm').submit()">
                <img src="~/assets/img/b3.png" alt="Cerrar Sesión" />
            </a>
        </div>
        <div class="col-lg-1" style="align-content:center; text-align:center; margin-top: 31%;">

        </div>
    </div>
    <div class="row">
        <br />
        <br />
    </div>
</div>

