<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="TextWriterOutput.log">
          <filter type="System.Diagnostics.EventTypeFilter" initializeData="Error" />
        </add>
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.;AttachDbFilename=|DataDirectory|\aspnet-EkilibrateUI-20150913033529.mdf;Initial Catalog=aspnet-EkilibrateUI-20150913033529;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />
    <!--<add name="EkiibrateDBEntities" connectionString="metadata=res://*/Areas.SitioAdministrativo.Models.Data.SitioAdministrativoUI.csdl|res://*/Areas.SitioAdministrativo.Models.Data.SitioAdministrativoUI.ssdl|res://*/Areas.SitioAdministrativo.Models.Data.SitioAdministrativoUI.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=EkiibrateDB;user id=sis;password=sistema@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="EkilibrateEF" connectionString="metadata={0};provider=System.Data.SqlClient;provider connection string=&quot;data source=dolcegusto.database.windows.net;initial catalog=Ekilibrate;user id=dolce;password=d0lc3@502;Trusted_Connection=False;Encrypt=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="MvcSiteMapProvider_IncludeAssembliesForScan" value="EkilibrateUI" />
    <add key="MvcSiteMapProvider_UseExternalDIContainer" value="false" />
    <add key="MvcSiteMapProvider_ScanAssembliesForSiteMapNodes" value="true" />
    <add key="EndPointAdministradorDataRetriever" value="HTTPBindingAdministradorDataRetriever" />
    <add key="EndPointAdministradorDataInjector" value="HTTPBindingAdministradorDataInjector" />
    <add key="EndPointClienteDataRetriever" value="HTTPBindingClienteDataRetriever" />
    <add key="EndPointClienteDataInjector" value="HTTPBindingClienteDataInjector" />
    <add key="EndPointParticipanteDataRetriever" value="HTTPBindingParticipanteDataRetriever" />
    <add key="EndPointParticipanteDataInjector" value="HTTPBindingParticipanteDataInjector" />
    <add key="EndPointNutricionistaDataRetriever" value="HTTPBindingNutricionistaDataRetriever" />
    <add key="EndPointNutricionistaDataInjector" value="HTTPBindingNutricionistaDataInjector" />    
  </appSettings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="HTTPBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:01:00" sendTimeout="00:01:00" maxBufferPoolSize="167108864" maxReceivedMessageSize="2147483647">
            <security mode="None">
            </security>        
        </binding>
      </wsHttpBinding>
      <netTcpBinding>
        <binding name="TCPBinding" portSharingEnabled="true" hostNameComparisonMode="WeakWildcard" transferMode="Buffered">
          <security mode="None">
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <!--<client>
      <endpoint address="http://localhost/EkilibrateServices/Administrador/DataRetriever.svc" binding="wsHttpBinding" bindingConfiguration="HTTPBinding" contract="Ekilibrate.Model.Services.Administrador.IDataRetriever" name="HTTPBindingAdministradorDataRetriever">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost/EkilibrateServices/Administrador/DataRetriever.svc" binding="netTcpBinding" bindingConfiguration="TCPBinding" contract="Ekilibrate.Model.Services.Administrador.IDataRetriever" name="TCPBindingAdministradorDataRetriever">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/EkilibrateServices/Administrador/DataInjector.svc" binding="wsHttpBinding" bindingConfiguration="HTTPBinding" contract="Ekilibrate.Model.Services.Administrador.IDataInjector" name="HTTPBindingAdministradorDataInjector">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost/EkilibrateServices/Administrador/DataInjector.svc" binding="netTcpBinding" bindingConfiguration="TCPBinding" contract="Ekilibrate.Model.Services.Administrador.IDataInjector" name="TCPBindingAdministradorDataInjector">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/EkilibrateServices/Cliente/DataRetriever.svc" binding="wsHttpBinding" bindingConfiguration="HTTPBinding" contract="Ekilibrate.Model.Services.Cliente.IDataRetriever" name="HTTPBindingClienteDataRetriever">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost/EkilibrateServices/Cliente/DataRetriever.svc" binding="netTcpBinding" bindingConfiguration="TCPBinding" contract="Ekilibrate.Model.Services.Cliente.IDataRetriever" name="TCPBindingClienteDataRetriever">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/EkilibrateServices/Cliente/DataInjector.svc" binding="wsHttpBinding" bindingConfiguration="HTTPBinding" contract="Ekilibrate.Model.Services.Cliente.IDataInjector" name="HTTPBindingClienteDataInjector">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost/EkilibrateServices/Cliente/DataInjector.svc" binding="netTcpBinding" bindingConfiguration="TCPBinding" contract="Ekilibrate.Model.Services.Cliente.IDataInjector" name="TCPBindingClienteDataInjector">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/EkilibrateServices/Nutricionista/DataRetriever.svc" binding="wsHttpBinding" bindingConfiguration="HTTPBinding" contract="Ekilibrate.Model.Services.Nutricionista.IDataRetriever" name="HTTPBindingNutricionistaDataRetriever">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost/EkilibrateServices/Nutricionista/DataRetriever.svc" binding="netTcpBinding" bindingConfiguration="TCPBinding" contract="Ekilibrate.Model.Services.Nutricionista.IDataRetriever" name="TCPBindingNutricionistaDataRetriever">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/EkilibrateServices/Nutricionista/DataInjector.svc" binding="wsHttpBinding" bindingConfiguration="HTTPBinding" contract="Ekilibrate.Model.Services.Nutricionista.IDataInjector" name="HTTPBindingNutricionistaDataInjector">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost/EkilibrateServices/Nutricionista/DataInjector.svc" binding="netTcpBinding" bindingConfiguration="TCPBinding" contract="Ekilibrate.Model.Services.Nutricionista.IDataInjector" name="TCPBindingNutricionistaDataInjector">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/EkilibrateServices/Participante/DataRetriever.svc" binding="wsHttpBinding" bindingConfiguration="HTTPBinding" contract="Ekilibrate.Model.Services.Participante.IDataRetriever" name="HTTPBindingParticipanteDataRetriever">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost/EkilibrateServices/Participante/DataRetriever.svc" binding="netTcpBinding" bindingConfiguration="TCPBinding" contract="Ekilibrate.Model.Services.Participante.IDataRetriever" name="TCPBindingParticipanteDataRetriever">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/EkilibrateServices/Participante/DataInjector.svc" binding="wsHttpBinding" bindingConfiguration="HTTPBinding" contract="Ekilibrate.Model.Services.Participante.IDataInjector" name="HTTPBindingParticipanteDataInjector">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost/EkilibrateServices/Participante/DataInjector.svc" binding="netTcpBinding" bindingConfiguration="TCPBinding" contract="Ekilibrate.Model.Services.Participante.IDataInjector" name="TCPBindingParticipanteDataInjector">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>-->
    <client>
    <endpoint address="http://ekilibratesvc.azurewebsites.net/Administrador/DataRetriever.svc" binding="wsHttpBinding" bindingConfiguration="HTTPBinding" contract="Ekilibrate.Model.Services.Administrador.IDataRetriever" name="HTTPBindingAdministradorDataRetriever">
      <identity>  
        <dns value="localhost" />
      </identity>
    </endpoint>
    
    <endpoint address="net.tcp://ekilibratesvc.azurewebsites.net/Administrador/DataRetriever.svc" binding="netTcpBinding" bindingConfiguration="TCPBinding" contract="Ekilibrate.Model.Services.Administrador.IDataRetriever" name="TCPBindingAdministradorDataRetriever">
      <identity>
        <dns value="localhost" />
      </identity>
    </endpoint>
    
    <endpoint address="http://ekilibratesvc.azurewebsites.net/Administrador/DataInjector.svc" binding="wsHttpBinding" bindingConfiguration="HTTPBinding" contract="Ekilibrate.Model.Services.Administrador.IDataInjector" name="HTTPBindingAdministradorDataInjector">
      <identity>
        <dns value="localhost" />
      </identity>
    </endpoint>
    
    <endpoint address="net.tcp://ekilibratesvc.azurewebsites.net/Administrador/DataInjector.svc" binding="netTcpBinding" bindingConfiguration="TCPBinding" contract="Ekilibrate.Model.Services.Administrador.IDataInjector" name="TCPBindingAdministradorDataInjector">
      <identity>
        <dns value="localhost" />
      </identity>
    </endpoint>
    
    <endpoint address="http://ekilibratesvc.azurewebsites.net/Cliente/DataRetriever.svc" binding="wsHttpBinding" bindingConfiguration="HTTPBinding" contract="Ekilibrate.Model.Services.Cliente.IDataRetriever" name="HTTPBindingClienteDataRetriever">
      <identity>
        <dns value="localhost" />
      </identity>
    </endpoint>
    
    <endpoint address="net.tcp://ekilibratesvc.azurewebsites.net/Cliente/DataRetriever.svc" binding="netTcpBinding" bindingConfiguration="TCPBinding" contract="Ekilibrate.Model.Services.Cliente.IDataRetriever" name="TCPBindingClienteDataRetriever">
      <identity>
        <dns value="localhost" />
      </identity>
    </endpoint>
    
    <endpoint address="http://ekilibratesvc.azurewebsites.net/Cliente/DataInjector.svc" binding="wsHttpBinding" bindingConfiguration="HTTPBinding" contract="Ekilibrate.Model.Services.Cliente.IDataInjector" name="HTTPBindingClienteDataInjector">
      <identity>
        <dns value="localhost" />
      </identity>
    </endpoint>
    
    <endpoint address="net.tcp://ekilibratesvc.azurewebsites.net/Cliente/DataInjector.svc" binding="netTcpBinding" bindingConfiguration="TCPBinding" contract="Ekilibrate.Model.Services.Cliente.IDataInjector" name="TCPBindingClienteDataInjector">
      <identity>
        <dns value="localhost" />
      </identity>
    </endpoint>
    
    <endpoint address="http://ekilibratesvc.azurewebsites.net/Nutricionista/DataRetriever.svc" binding="wsHttpBinding" bindingConfiguration="HTTPBinding" contract="Ekilibrate.Model.Services.Nutricionista.IDataRetriever" name="HTTPBindingNutricionistaDataRetriever">
      <identity>
        <dns value="localhost" />
      </identity>
    </endpoint>
    
    <endpoint address="net.tcp://ekilibratesvc.azurewebsites.net/Nutricionista/DataRetriever.svc" binding="netTcpBinding" bindingConfiguration="TCPBinding" contract="Ekilibrate.Model.Services.Nutricionista.IDataRetriever" name="TCPBindingNutricionistaDataRetriever">
      <identity>
        <dns value="localhost" />
      </identity>
    </endpoint>
    
    <endpoint address="http://ekilibratesvc.azurewebsites.net/Nutricionista/DataInjector.svc" binding="wsHttpBinding" bindingConfiguration="HTTPBinding" contract="Ekilibrate.Model.Services.Nutricionista.IDataInjector" name="HTTPBindingNutricionistaDataInjector">
      <identity>
        <dns value="localhost" />
      </identity>
    </endpoint>
    
    <endpoint address="net.tcp://ekilibratesvc.azurewebsites.net/Nutricionista/DataInjector.svc" binding="netTcpBinding" bindingConfiguration="TCPBinding" contract="Ekilibrate.Model.Services.Nutricionista.IDataInjector" name="TCPBindingNutricionistaDataInjector">
      <identity>
        <dns value="localhost" />
      </identity>
    </endpoint>
    
    <endpoint address="http://ekilibratesvc.azurewebsites.net/Participante/DataRetriever.svc" binding="wsHttpBinding" bindingConfiguration="HTTPBinding" contract="Ekilibrate.Model.Services.Participante.IDataRetriever" name="HTTPBindingParticipanteDataRetriever">
      <identity>
        <dns value="localhost" />
      </identity>
    </endpoint>
    
    <endpoint address="net.tcp://ekilibratesvc.azurewebsites.net/Participante/DataRetriever.svc" binding="netTcpBinding" bindingConfiguration="TCPBinding" contract="Ekilibrate.Model.Services.Participante.IDataRetriever" name="TCPBindingParticipanteDataRetriever">
      <identity>
        <dns value="localhost" />
      </identity>
    </endpoint>
    
    <endpoint address="http://ekilibratesvc.azurewebsites.net/Participante/DataInjector.svc" binding="wsHttpBinding" bindingConfiguration="HTTPBinding" contract="Ekilibrate.Model.Services.Participante.IDataInjector" name="HTTPBindingParticipanteDataInjector">
      <identity>
        <dns value="localhost" />
      </identity>
    </endpoint>
    
    <endpoint address="net.tcp://ekilibratesvc.azurewebsites.net/Participante/DataInjector.svc" binding="netTcpBinding" bindingConfiguration="TCPBinding" contract="Ekilibrate.Model.Services.Participante.IDataInjector" name="TCPBindingParticipanteDataInjector">
      <identity>
        <dns value="localhost" />
      </identity>
    </endpoint>
    
    </client>
  </system.serviceModel>
  <location path="Api">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="SitioAdministrativo">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="assets">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Content">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.web>
    <sessionState timeout="480" />
    <authentication mode="Forms">
      <forms loginUrl="~/SitioAdministrativo/Home/Login" defaultUrl="~/SitioAdministrativo/Home/Login" timeout="480" />
    </authentication>
    
    <!--<authorization>   
      <deny users="?" />
    </authorization>-->   
    <globalization uiCulture="es-GT" culture="es-GT" enableClientBasedCulture="false" />
    <customErrors mode="On" defaultRedirect="~/SitioAdministrativo/Home/Login"> <!--<customErrors mode="On">-->
      <error statusCode="500" redirect="~/SitioAdministrativo/Home/Login?e=5"    />
      <error statusCode="404" redirect="~/SitioAdministrativo/Home/Error404" />
    </customErrors>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576" />
    <pages>
      <namespaces>
        <add namespace="Kendo.Mvc.UI" />
        <add namespace="MvcSiteMapProvider.Web.Html" />
        <add namespace="MvcSiteMapProvider.Web.Html.Models" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <!--<remove name="FormsAuthentication" />-->
      <remove name="UrlRoutingModule-4.0" />
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" />
    </modules>
    <!--<rewrite>
      <rules>
        <rule name="Redirect to https">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTPS}" pattern="Off"/>
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}"/>
        </rule>
      </rules>
    </rewrite>-->
    <!--<staticContent>
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>